requests
Django==3.2.6
djangorestframework
django-cors-headers
django-background-tasks
psycopg2
PyJWT
shortuuid
django_redis
uWSGI
django-crontab
tensorflow
h5py
Keras
pandas
numpy
celery
django-celery-results
gym
#https://github.com/tensorflow/docs
IPython
